body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  color: #333;
}

header {
  background-color: #1c3c5a;
  color: white;
  padding: 1rem;
  text-align: center;
}

#course-title {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  margin: 0px;
  border: 1px solid white;
  border-radius: 2px;
}

nav a:hover {
  text-decoration: underline;
  color: #ffcc00;
}

main {
  max-width: 960px;
  margin: 2rem auto;
  padding: 1rem;
  display: grid;
  gap: 2rem;
}

h1 {
  text-align: center;
  color: #1c3c5a;
}

.card {
  background-color: white;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
  max-width: 150px;
  float: right;
  margin-left: 1rem;
  border-radius: 8px;
}

footer {
  background-color: #1c3c5a;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}
