 body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background: #fff;
  color: #333;
}

header {
  background-color: #40006b;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header h1 {
  margin: 0;
}

#hamburger {
  width: 30px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 10;
  display: block;
}

#hamburger::before,
#hamburger::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: white;
  left: 0;
  transition: all 0.3s ease-in-out;
}


#hamburger::before {
  top: 0;
}

#hamburger::after {
  top: 12px;
  box-shadow: 0 8px 0 white; 
}

#hamburger.open::before {
  transform: rotate(45deg);
  top: 12px;
}

#hamburger.open::after {
  transform: rotate(-45deg);
  top: 12px;
  box-shadow: none;
}

/* NAV */
#navMenu {
  display: none;
  flex-direction: column;
  background-color: #40006b;
  padding: 1rem;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 5;
}

#navMenu.visible {
  display: flex;
}

#navMenu a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 0;
}

#navMenu a:hover {
  text-decoration: underline;
}

/* Main */
main {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem 0;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

figcaption {
  margin-top: 0.5rem;
  font-weight: bold;
  color: #40006b;
}


.temples-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  padding: 16px;
  width: 300px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.label {
  font-weight: bold;
  color: purple;
  text-transform: uppercase;
}


/* Footer */
footer {
  background-color: #40006b;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}
