@media screen and (min-width: 700px) {
  #hamburger {
    display: none;
  }

  #navMenu {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
    background: none;
    position: relative;
  }

  #navMenu a { 
    color: white;
    margin-left: 2rem;
    padding: 0.5rem 0;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
